# Loops in Python - Notes & Practice Questions

## Introduction to Loops  
Loops allow us to execute a block of code **multiple times** without writing repetitive code. Python provides two types of loops:  
- **`for` loop** – Used when the number of iterations is known.  
- **`while` loop** – Used when the number of iterations is not known and runs until a condition becomes false.

## 📌 Understanding the `range()` Function in Python  

The `range()` function is used to generate a sequence of numbers, commonly used in loops.  

## 🔹 Syntax of `range()`

range(start, stop, step)

- **`start`** → (Optional) The starting number. Default is `0`.  
- **`stop`** → The sequence stops before this number (exclusive).  
- **`step`** → (Optional) The difference between each number. Default is `1`.

## 🔹 Example 1: Basic `range(stop)`
If only one argument is provided, it is considered the `stop` value, and the sequence starts from `0`.

In [ ]:
for i in range(5):
    print(i)

## 🔹 Example 2: `range(start, stop)`
Specifying both `start` and `stop` values:

In [ ]:
for i in range(2, 7):
    print(i)

## 🔹 Example 3: `range(start, stop, step)`
Using a step value to skip numbers:

In [ ]:
for i in range(1, 10, 2):
    print(i)

## 🔹 Example 4: Negative Step (Reverse Sequence)
Using a negative step to generate numbers in reverse order:

In [ ]:
for i in range(10, 0, -2):
    print(i)

## 🔹 Example 5: Converting `range()` to a List
The `range()` function can be converted into a list:

In [ ]:
print(list(range(5)))

## 1. `for` Loop  
The `for` loop is used to iterate over a sequence like a list, tuple, string, or range.

In [ ]:
for i in range(5):
    print("Hello, World!", i)

# 📌 Python `for` Loop with List, Tuple, Set, Dictionary, and Nested Loops  

The `for` loop in Python is used to iterate over **iterable objects** such as **lists, tuples, sets, and dictionaries**.

## 🔹 1. `for` Loop with a **List**  
A **list** is an ordered, mutable collection that allows duplicate values.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

## 🔹 2. `for` Loop with a **Tuple**  
A **tuple** is an ordered, immutable collection that allows duplicate values.

In [ ]:
colors = ("red", "green", "blue")
for color in colors:
    print(color)

## 🔹 3. `for` Loop with a **Set**  
A **set** is an unordered collection that **does not allow duplicate values**.

In [ ]:
unique_numbers = {1, 2, 3, 4, 5}
for number in unique_numbers:
    print(number)

⚠ **Note:** Since sets are unordered, the output order may vary.

## 🔹 4. `for` Loop with a **Dictionary**  
A **dictionary** stores data in key-value pairs. We can loop through:  
- **Keys**
- **Values**
- **Both (key-value pairs)**

### 🔸 Looping through Keys

In [ ]:
student_scores = {"Alice": 85, "Bob": 90, "Charlie": 78}
for name in student_scores:
    print(name)

### 🔸 Looping through Values

In [ ]:
for score in student_scores.values():
    print(score)

### 🔸 Looping through Key-Value Pairs

In [ ]:
for name, score in student_scores.items():
    print(name, "->", score)

## 🔹 5. **Nested `for` Loops**  
A **nested loop** means having one `for` loop inside another.

### 🔸 Example: Multiplication Table

In [ ]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} × {j} = {i*j}")

### 🔸 Example: Printing a Matrix

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for row in matrix:
    for element in row:
        print(element, end=" ")
    print()  # New line after each row

## 🚀 **Key Takeaways**  
✔ **Lists, Tuples, Sets, and Dictionaries** are iterable using `for` loops.  
✔ **Sets are unordered**, so iteration order is unpredictable.  
✔ **Dictionaries** allow iteration over **keys, values, or both**.  
✔ **Nested loops** are useful for working with **matrices and patterns**.



## 2. `while` Loop  
The `while` loop executes as long as the given condition is `True`.

### **Syntax**

In [ ]:
while condition:
    # Code to execute

### **Example:**

In [ ]:
count = 0
while count < 5:
    print("Loop iteration:", count)
    count += 1

## Practice Questions

### **Basic Loop Questions**

1. Write a program to **print numbers from 1 to 10** using a `for` loop.

2. Write a program to **print even numbers from 1 to 20** using a `for` loop.

3. Write a program to **print numbers from 10 to 1** in reverse order using a `while` loop.

4. Write a program that **calculates the sum of all numbers from 1 to 50** using a loop.

### **Intermediate Loop Questions**

5. Write a program to **print the multiplication table of a number** entered by the user.

6. Write a program that **counts the number of digits in a given number** using a `while` loop.

7. Write a program to **reverse a given number** (e.g., `12345` → `54321`).

8. Write a program to **find the factorial of a number** using a loop.

### **Advanced Loop Questions**

9. Write a program to **check if a number is prime** using a loop.

10. Write a program that prints the **Fibonacci series up to n terms**.

11. Write a program to find the **sum of digits of a given number** using a loop.

### **Bonus Challenge**

12. Write a program to generate the following number pattern using loops:

13. Write a program to **find the greatest common divisor (GCD)** of two numbers using loops.

14. Write a program to **check if a number is an Armstrong number** (e.g., `153 = 1³ + 5³ + 3³`).

# 🏆 Python Pattern Printing Practice Questions 🏆

## 🔹 Instructions  
- Use **nested loops** (`for` or `while`) to generate the patterns.  
- Use `print()` with appropriate formatting (`end=" "`, `\t`, etc.) to align the output properly.  
- Try to solve each question without looking at the answers.



## 🌟 1. Right-Angled Triangle Pattern

Print the following pattern for `n = 5`:

*
**
***
****
*****

## 🌟 2. Inverted Right-Angled Triangle

Print the following pattern for `n = 5`:

*****
****
***
**
*

## 🌟 3. Number Pyramid  
Print the following pattern for `n = 5`:  

1  
1 2  
1 2 3  
1 2 3 4  
1 2 3 4 5

## 🌟 4. Reverse Number Triangle  
Print the following pattern for `n = 5`:  

5  
5 4  
5 4 3  
5 4 3 2  
5 4 3 2 1

## 🌟 5. Symmetric Star Pattern  
Print the following pattern for `n = 5`:

    *    
   ***   
  *****  
 ******* 
*********

## 🌟 6. Inverted Pyramid Pattern  
Print the following pattern for `n = 5`:

*********
 ******* 
  *****  
   ***   
    *

## 🌟 7. Diamond Star Pattern  
Print the following pattern for `n = 5`:

    *    
   ***   
  *****  
 ******* 
*********
 ******* 
  *****  
   ***   
    *

## 🌟 8. Hollow Rectangle Pattern  
Print the following pattern for `n = 5`:

*****
*   *
*   *
*   *
*****

## 🌟 9. Hollow Pyramid Pattern  
Print the following pattern for `n = 5`:

    *    
   * *   
  *   *  
 *     * 
*********

## 🌟 10. Floyd’s Triangle  
Print the following pattern for `n = 5`:  

1  
2 3  
4 5 6  
7 8 9 10  
11 12 13 14 15

# `break` and `continue` Statements  
- **`break`**: Exits the loop when encountered.  
- **`continue`**: Skips the current iteration and moves to the next one.

### **Example (`break`):**

In [ ]:
for i in range(10):
    if i == 5:
        break
    print(i)

### **Example (`continue`):**

In [ ]:
for i in range(10):
    if i == 5:
        continue
    print(i)

# 🏆 Python `while` Loop Practice Questions 🏆

## 🔹 Instructions  
- Use a `while` loop to solve each problem.  
- Ensure your loop has a stopping condition to prevent infinite loops.  
- Try different variations of the problems for better practice.

## 🌟 1. Print Numbers from 1 to 10  
Write a `while` loop that prints numbers from `1` to `10`.

## 🌟 2. Print Even Numbers from 2 to 20  
Use a `while` loop to print all even numbers between `2` and `20`.

## 🌟 3. Sum of First N Natural Numbers  
Write a `while` loop that calculates the sum of the first `N` natural numbers.  
Example: If `N = 5`, the sum is `1 + 2 + 3 + 4 + 5 = 15`.

## 🌟 4. Reverse Number Printing  
Take a number `N` as input and print all numbers from `N` to `1` using a `while` loop.

## 🌟 5. Find Factorial of a Number  
Write a `while` loop to calculate the factorial of a given number `N`.

## 🌟 6. Print Digits of a Number  
Take a number as input and print each digit separately using a `while` loop.

## 🌟 7. Count Digits in a Number  
Write a `while` loop that counts the number of digits in a given number.

## 🌟 8. Reverse a Number  
Take a number as input and reverse its digits using a `while` loop.  
Example: `1234` should be reversed to `4321`.

## 🌟 9. Check If a Number is Palindrome  
Write a `while` loop to check if a given number is a palindrome (same forward and backward).

## 🌟 10. Sum of Digits of a Number  
Write a `while` loop to calculate the sum of digits of a given number.

## 🌟 11. Generate Fibonacci Series  
Write a `while` loop to generate the Fibonacci series up to `N` terms.  
Example: `0, 1, 1, 2, 3, 5, 8, ...`

## 🌟 12. Check If a Number is Prime  
Use a `while` loop to check if a given number is a prime number.

## 🌟 13. Find the Greatest Common Divisor (GCD)  
Write a `while` loop to find the **GCD** of two numbers using the Euclidean algorithm.

## 🌟 14. Print Multiplication Table  
Take a number as input and print its multiplication table using a `while` loop.

## 🌟 15. Guess the Number Game 🎯  
- Generate a random number between `1` and `100`.  
- Ask the user to guess the number.  
- Keep running the loop until the user guesses the correct number.  
- Provide hints like **"Too high"** or **"Too low"** after each guess.

## 🎯 **Challenge Questions**

### 🔥 16. Collatz Conjecture  
Take a number `N`. If it's even, divide it by `2`. If it's odd, multiply it by `3` and add `1`. Repeat until you reach `1`.

### 🔥 17. Convert Decimal to Binary  
Take a decimal number as input and convert it to binary using a `while` loop.

### 🔥 18. Print Numbers in Words  
Example: If input is `123`, output should be **"One Two Three"**.

### 🔥 19. Armstrong Number Checker  
Check if a given number is an **Armstrong number** (sum of digits raised to the power of the number of digits equals the number itself).

### 🔥 20. ATM Machine Simulation  
- Set a default balance.  
- Ask the user for withdrawal amount.  
- Deduct from balance if sufficient, otherwise show **"Insufficient Funds"**.  
- Keep running the loop until the user exits.